
.custom-dropdown .dropdown-menu {
    background-color: #343a40; 
  }
  
.custom-dropdown .dropdown-item {
    color: #ffffff; 
  }
.custom-dropdown .dropdown-item:hover {
    background-color: black;
  }

.custom-dropdown .dropdown-toggle {
    color: #ffffff !important; 
  }
  